/* Serenity CSS Framework.  This framework includes basic classes that format
 * Serenity messages, and give the user a library of predefined classes for simple layout.
 * As of this version this is not intended to be a full fledged CSS layout framework.
 */


/* Text Styles */
.red-text {
	color: red;
}
.bold {
	font-weight: bold;
}
.underline {
	text-decoration: underline;
}

.block-center {
	margin-left: auto;
	margin-right: auto;
}

/* Margin Bottom Classes */
.margin-top-bottom-5 {
	margin-bottom: -5px !important;
}
.margin-bottom-0 {
	margin-bottom: 0px !important;
}
.margin-bottom-10 {
	margin-bottom: 10px !important;
}
.margin-bottom-15 {
	margin-bottom: 15px !important;
}
.margin-bottom-20 {
	margin-bottom: 20px !important;
}
.margin-bottom-25 {
	margin-bottom: 25px !important;
}
.margin-bottom-30 {
	margin-bottom: 30px !important;
}
.margin-bottom-35 {
	margin-bottom: 35px !important;
}
.margin-bottom-40 {
	margin-bottom: 40px !important;
}
.margin-bottom-45 {
	margin-bottom: 45px !important;
}
.margin-bottom-50 {
	margin-bottom: 50px !important;
}
.margin-bottom-55 {
	margin-bottom: 55px !important;
}
.margin-bottom-60 {
	margin-bottom: 60px !important;
}
.margin-bottom-70 {
	margin-bottom: 70px !important;
}
.margin-bottom-80 {
	margin-bottom: 80px !important;
}
.margin-bottom-90 {
	margin-bottom: 90px !important;
}
.margin-bottom-100 {
	margin-bottom: 100px !important;
}

/* Margin Top Classes */
.margin-top-neg-5 {
	margin-top: -5px !important;
}
.margin-top-0 {
	margin-top: 0px !important;
}
.margin-top-10 {
	margin-top: 10px !important;
}
.margin-top-20 {
	margin-top: 20px !important;
}
.margin-top-30 {
	margin-top: 30px !important;
}
.margin-top-40 {
	margin-top: 40px !important;
}
.margin-top-50 {
	margin-top: 50px !important;
}
.margin-top-60 {
	margin-top: 60px !important;
}
.margin-top-70 {
	margin-top: 70px !important;
}
.margin-top-80 {
	margin-top: 80px !important;
}
.margin-top-90 {
	margin-top: 90px !important;
}
.margin-top-100 {
	margin-top: 100px !important;
}

/* Margin Left Classes */
.margin-left-10 {
	margin-left: 10px;
}

.margin-left-20 {
	margin-left: 20px;
}

.margin-left-30 {
	margin-left: 30px;
}

.margin-left-40 {
	margin-left: 40px;
}

.margin-left-50 {
	margin-left: 50px;
}

.margin-left-60 {
	margin-left: 60px;
}

.margin-left-70 {
	margin-left: 70px;
}

.margin-left-80 {
	margin-left: 80px;
}

.margin-left-90 {
	margin-left: 90px;
}

.margin-left-100 {
	margin-left: 100px;
}

/* Margin Right Classes */
.margin-right-10 {
	margin-right: 10px;
}

.margin-right-20 {
	margin-right: 20px;
}

.margin-right-30 {
	margin-right: 30px;
}

.margin-right-40 {
	margin-right: 40px;
}

.margin-right-50 {
	margin-right: 50px;
}

.margin-right-60 {
	margin-right: 60px;
}

.margin-right-70 {
	margin-right: 70px;
}

.margin-right-80 {
	margin-right: 80px;
}

.margin-right-90 {
	margin-right: 90px;
}

.margin-right-100 {
	margin-right: 100px;
}

/* Minimum height Classes */
.min-600 {
	min-height: 600px;
}

/* Height Classes */
.height-100 {
	height: 100px !important;
}

.height-200 {
	height: 200px !important;
}

.height-300 {
	height: 300px !important;
}

.height-400 {
	height: 400px !important;
}

.height-500 {
	height: 500px !important;
}

.height-600 {
	height: 600px !important;
}

.height-700 {
	height: 700px !important;
}

.height-800 {
	height: 800px !important;
}

.height-900 {
	height: 900px !important;
}

.height-1000 {
	height: 1000px !important;
}

/* Image Classes */
.img-left {
	float: left;
	padding-right: 15px;
}

/* Serenity Error Message Classes */

div.Serene_Error {
	width: 80%;
	padding: 30px;
	margin-top: 60px;
	margin-left: auto;
	margin-right: auto;
	background: #BC2A1A;
	color: white;
	font-family: arial;
	font-size: 1.2em;
	border: solid;
	border-color: #A40802;
	border-width: 2px;
}

div.Serene_Debug_Message {
	width: 80%;
	padding: 30px;
	margin: 30px;
	margin-left: auto;
	margin-right: auto;
	background: #EEEEEE;
	color: black;
	font-family: arial;
	font-size: 1.2em;
	border: solid;
	border-color: #bababa;
	border-width: 2px;
}

#canvas-panel {
	position: fixed;
	left: 50%;
	margin-left: -30px;
	bottom: 0px;
	background: #0e2d0b;
	height: 40px;
	width: 60px;
	z-index: 100;
	border-top: solid;
	border-left: solid;
	border-right: solid;
	border-width: thin;
	opacity: .8;
	color: white;
	padding: 10px;
	text-align: center;
}

#canvas-panel-up:hover {
	cursor: pointer;
}

#canvas-panel-data {
	text-align: left;
	padding-top: 15px;
	width: 100%;
	height: 90%;
	border-top: solid;
	border-width: 1px;
	margin-top: 10px;
	overflow-y: scroll;
	overflow-x: hidden;
}

.critique-errors {
	background: #5b0000 !important;
}